<launch>
  <arg name="init_x" value="-30.4" />
  <arg name="init_y" value="24.69" />
  <arg name="init_z" value="8.53" />
  <arg name="init_roll" value="0.0" />
  <arg name="init_pitch" value="0.0" />
  <arg name="init_yaw" value="2.4" />

  <!-- vel/pose connect -->
  <arg name="topic_pose_stamped" default="/gicp_pose" />
  <arg name="topic_twist_stamped" default="/gicp_vel" /> 
  <!-- <arg name="topic_twist_stamped" default="/odom_twist" /> -->

  <!-- points downsampler -->
  <arg name="output_log" default="false" />
  <arg name="leaf_size" default="0.5" />
  <arg name="measurement_range" default="200" />
  <arg name="instance_mode" default="0"/>

  <node pkg="points_downsampler" name="voxel_grid_filter" type="voxel_grid_filter">
    <param name="input_topic_name" value="points_raw" />
    <param name="output_topic_name" value="filtered_points" />
    <param name="leaf_size" value="$(arg leaf_size)" />
    <param name="measurement_range" value="$(arg measurement_range)" />
    <param name="output_log" value="$(arg output_log)" />
    <param name="instance_mode" value="$(arg instance_mode)" />
  </node>

  <arg name="enable_gnss_backup" default="true" /> 

  <arg name="base_frame" default="base_link" doc="Vehicle reference frame" />
  <arg name="resolution" default="4.0" doc="The ND voxel grid resolution" />
  <arg name="neighborSearchMethod" default="DIRECT7"/>

  <arg name="numthreads" default="4" doc="vgicp threads num" />
  <arg name="leafsize" default="1.0" doc="point map downsample leafsize" />

  <node pkg="gicp_localizer" type="gicp_localizer_node" name="gicp_localizer_node">
    <param name="init_x" value="$(arg init_x)" />
    <param name="init_y" value="$(arg init_y)" />
    <param name="init_z" value="$(arg init_z)" />
    <param name="init_roll" value="$(arg init_roll)" />
    <param name="init_pitch" value="$(arg init_pitch)" />
    <param name="init_yaw" value="$(arg init_yaw)" />

    <param name="enable_gnss_backup" value="$(arg enable_gnss_backup)" />
    <param name="gnss_backup_threshold" value="7.0" />

    <param name="base_frame" value="$(arg base_frame)" />
    <param name="resolution" value="$(arg resolution)" />
    <param name="neighborSearchMethod" value="$(arg neighborSearchMethod)" />
    <param name="numthreads" value="$(arg numthreads)" />
    <param name="leafsize" value="$(arg leafsize)" />
  </node>
  
  <!-- vel_pose_mux -->
  <include file="$(find rubis_pkg)/launch/vel_pose_connect_params.launch">
    <arg name="topic_pose_stamped" value="$(arg topic_pose_stamped)" />
    <arg name="topic_twist_stamped" value="$(arg topic_twist_stamped)" />
  </include>

</launch>
