<?xml version="1.0"?>

<launch>
  <arg name="speed_topic_str" default="/lane_following/speed" />
  <arg name="steer_topic_str" default="/lane_following/steer" />
  <arg name="image_topic_str" default="/zed/zed_node/left/image_rect_color" />

  <!-- ZED node -->
  <include file="$(find zed_wrapper)/launch/zed.launch">
    <arg name="camera_model"        value="zed" />
    <!--arg name="resolution"          default="2" /--> <!--0=RESOLUTION_HD2K, 1=RESOLUTION_HD1080, 2=RESOLUTION_HD720, 3=RESOLUTION_VGA -->
    <arg name="frame_rate"          default="15" />
    <!-- RESOLUTION_HD2K   -> 2208*1242, available framerates: 15 fps.
         RESOLUTION_HD1080 -> 1920*1080, available framerates: 15, 30 fps.
         RESOLUTION_HD720  -> 1280*720,  available framerates: 15, 30, 60 fps.
         RESOLUTION_VGA    -> 672*376,   available framerates: 15, 30, 60, 100 fps. -->
  </include>
   <!-- Lane Line Detection -->
  <node pkg="lane_following" type="lane_following_node" name="lane_following" output="screen">
    <param name="speed_topic_str" value="$(arg speed_topic_str)" />
    <param name="steer_topic_str" value="$(arg steer_topic_str)" />
    <param name="image_topic_str" value="$(arg image_topic_str)" />
  </node>
</launch>
