<!-- -->
<launch>
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='town' default='Town04'/>
  <arg name='role_name' default='ego_vehicle'/>
  <!-- For Town04 sim -->
  <!-- <arg name="spawn_point" default="-10,214,0.3,0,0,-90"/> -->
  <!-- A course -->
  <!-- <arg name="spawn_point" default="202.5, 188.0, 0.3, 0, 0, 90"/> -->
  <!-- B course -->
  <arg name="spawn_point" default="258.5, 186.5, 0.3, 0, 0, 90"/>
  <arg name="enable_openplanner_simulation" default="false"/>
  <arg name="enable_object_insert" default="false"/>
  <arg name="spawn_sensors_only" default="false"/>

  <include file="$(find carla_autoware_bridge)/launch/carla_autoware_bridge_with_manual_control.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='town' value='$(arg town)'/>
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name="spawn_point" value="$(arg spawn_point)"/>
    <arg name='spawn_sensors_only' value='$(arg spawn_sensors_only)'/>
  </include>
</launch>

