<launch>
    <!-- <arg name="yaw_offset" default="-115.139" /> -->
    <arg name="yaw_offset" default="-115.139" />
    <arg name="yaw_diff_threshold" default="1.5" />
    <node pkg="ins_twist_generator" type="dynamic_ins_twist_generator" name="dynamic_ins_twist_generator" output="screen">
        <param name="yaw_offset" value="$(arg yaw_offset)" />
        <param name="yaw_diff_threshold" value="$(arg yaw_diff_threshold)" />
    </node>
</launch>