<launch>
  <!-- testbed -->
  <arg name="init_x" value="0" />
  <arg name="init_y" value="0" />
  <arg name="init_z" value="0" />
  <arg name="init_roll" value="0" />
  <arg name="init_pitch" value="0" />
  <arg name="init_yaw" value="0" />

  <!-- vel/pose connect -->
  <arg name="topic_pose_stamped" default="/ndt_pose" />
  <arg name="topic_twist_stamped" default="/estimate_twist" />

  <!-- points downsampler -->
  <include file="$(find points_downsampler)/launch/points_downsample.launch" />

 
</launch>
