<launch>
  <!-- op_global_planning -->
  <include file="$(find op_global_planner)/launch/op_global_planner.launch">
    <arg name="pathDensity"           value="1" /> <!-- distance between each two waypoints-->
    <arg name="enableSmoothing"       value="true" /> <!-- 1 or 0 -->
    <arg name="enableLaneChange"      value="false" /> <!-- 1 or 0 -->
    <arg name="enableRvizInput"       value="true" /> <!-- 1 or 0 -->
    <arg name="enableReplan"          value="false" /> <!-- 1 or 0 -->  
    <arg name="velocitySource"        value="1" /> <!-- read velocities from (0- Odometry, 1- autoware current_velocities, 2- car_info) "" -->
    <arg name="mapSource"             value="0" /> <!-- Autoware=0, Vector Map Folder=1, kml file=2 -->
    <arg name="mapFileName"           value="" /> <!-- incase of kml map source -->
    <!-- Borregas Avenue -->
    <!-- <arg name="use_static_goal"       value="true" />
    <arg name="goal_pose_x"           value="-59.64" />
    <arg name="goal_pose_y"           value="-153.71" />
    <arg name="goal_pose_z"           value="0.0" />
    <arg name="goal_ori_x"            value="0.0" />
    <arg name="goal_ori_y"            value="0.0" />
    <arg name="goal_ori_z"            value="-0.81" />
    <arg name="goal_ori_w"            value="0.58" /> -->
    <!-- TestBed Avenue -->
    <!-- <arg name="use_static_goal"       value="true" />
    <arg name="goal_pose_x"           value="651.96" />
    <arg name="goal_pose_y"           value="-610.03" />
    <arg name="goal_pose_z"           value="0.0" />
    <arg name="goal_ori_x"            value="0.0" />
    <arg name="goal_ori_y"            value="0.0" />
    <arg name="goal_ori_z"            value="0.74" />
    <arg name="goal_ori_w"            value="0.67" /> -->
    <!-- TestBed LeftTurn Scenario -->
    <arg name="use_static_goal"       value="true" />
    <arg name="goal_pose_x"           value="560.744" />
    <arg name="goal_pose_y"           value="-1122.939" />
    <arg name="goal_pose_z"           value="0.0" />
    <arg name="goal_ori_x"            value="0.0" />
    <arg name="goal_ori_y"            value="0.0" />
    <arg name="goal_ori_z"            value="-0.99" />
    <arg name="goal_ori_w"            value="0.024" />
  </include>
</launch>
