<launch>
  <!-- ROS-Bridge node for Simulator connection -->
  <node name="websocket_bridge" pkg="rosbridge_server" type="rosbridge_websocket" clear_params="true" required="true" />

  <!-- Re-publishing simulator/camera_node/image/compressed topic to /image_raw as expected by Autoware -->
  <node name="republish" type="republish" pkg="image_transport" args="compressed in:=/simulator/camera_node/image raw out:=/image_raw_origin"  />

  <node pkg="rubis_pkg" type="lidar_republisher" name="lidar_republisher">
      <param name="/input_topic" value="/points_raw_origin" />
      <param name="/output_topic" value="/points_raw" />
  </node>

  <!-- <include file="$(find rubis_pkg)/launch/lidar_republisher.launch"/>
  <include file="$(find rubis_pkg)/launch/camera_republisher.launch"/> -->

</launch>

