<launch>
	<!-- Vector Map Loader -->
	<node pkg="map_file" type="vector_map_loader" name="vector_map_loader" args="
	    $(env HOME)/autoware.ai/autoware_files/vector_map/intersection_left_turn/dtlane.csv 
	    $(env HOME)/autoware.ai/autoware_files/vector_map/intersection_left_turn/idx.csv 
	    $(env HOME)/autoware.ai/autoware_files/vector_map/intersection_left_turn/lane.csv 
	    $(env HOME)/autoware.ai/autoware_files/vector_map/intersection_left_turn/node.csv 
	    $(env HOME)/autoware.ai/autoware_files/vector_map/intersection_left_turn/point.csv"/>
	
	<!-- Point Map Loader -->
	<node pkg="map_file" type="points_map_loader" name="points_map_loader"
		args="$(env HOME)/autoware.ai/autoware_files/points_map/BorregasAve.pcd"/>

	<!-- Map TF Publisher -->	
	<node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0.0001 0 0 0 0 0 /world /map 10" />
</launch>
