<launch>
  <!-- setting of this launch file -->
  <arg name="car_detection" default="true" />
  <arg name="pedestrian_detection" default="false" />
  <arg name="is_use_gpu" default="true" />
  <arg name="is_register_lidar2camera_tf" default="true" />
  <arg name="is_publish_projection_matrix" default="true" />
  <arg name="is_publish_camera_info" default="true" />
  <arg name="camera_calib" default="$(env HOME)/autoware.ai/autoware_files/data/calibration/single_lidar/Lexus2016RXHybrid.yaml"/>

  <!-- calibration_publisher -->
  <include file="$(find runtime_manager)/launch_files/calibration_publisher.launch">
    <arg name="file" value="$(arg camera_calib)" />
    <arg name="register_lidar2camera_tf" value="$(arg is_register_lidar2camera_tf)" />
    <arg name="publish_extrinsic_mat" value="$(arg is_publish_projection_matrix)" />
    <arg name="publish_camera_info" value="$(arg is_publish_camera_info)" />
  </include>
  

<!-- lidar_euclidean_cluster_detect-->
  <!-- <include file="$(find lidar_euclidean_cluster_detect)/launch/lidar_euclidean_cluster_detect.launch">
    <arg name="points_node" value="/points_no_ground_center" />
    <arg name="remove_ground" value="true" />
    <arg name="downsample_cloud" value="false" />
    <arg name="leaf_size" value="0.68" />
    <arg name="cluster_size_min" value="1" />
    <arg name="cluster_size_max" value="100000" />
    <arg name="sync" value="false" />
    <arg name="use_diffnormals" value="false" />
    <arg name="pose_estimation" value="false" />
    <arg name="clip_min_height" value="-10.0" />
    <arg name="clip_max_height" value="10" />
    <arg name="keep_lanes" value="false" />
    <arg name="keep_lane_left_distance" value="5" />
    <arg name="keep_lane_right_distance" value="5" />
    <arg name="cluster_merge_threshold" value="1.5" />
    <arg name="clustering_distance" value="0.75" />
    <arg name="use_vector_map" value="false" />
    <arg name="wayarea_gridmap_layer" value="wayarea" />
    <arg name="output_frame" value="velodyne" />
    <arg name="remove_points_upto" value="0.0" />
    <arg name="use_gpu" value="true" />    
    <arg name="use_multiple_thres" value="false"/>
    <arg name="clustering_ranges" value="[15,30,45,60]"/>
    <arg name="clustering_distances"
         value="[0.5,1.1,1.6,2.1,2.6]"/>
    <arg name="execution_time_file_name" value="$(env HOME)/GPU_profiling/210510_cluster_execution_time.csv" />
    <arg name="response_time_file_name" value="$(env HOME)/GPU_profiling/210510_cluster_response_time.csv" />
    <arg name="gpu_scheduling_flag" value="1" />
    <arg name="identical_deadline" value="100000" />
  </include>
   -->
  <!-- vision_darknet_detect -->
  <include file="$(find vision_darknet_detect)/launch/vision_yolo3_detect.launch">
    <arg name="gpu_device_id" value="0"/>
    <arg name="score_threshold" value="0.5"/>
    <arg name="nms_threshold" value="0.45"/>
    <arg name="network_definition_file" value="$(env HOME)/autoware.ai/autoware_files/vision/yolov3-320.cfg"/>
    <arg name="pretrained_model_file" value="$(env HOME)/autoware.ai/autoware_files/vision/yolov3-320.weights"/>
    <arg name="names_file" value="$(find vision_darknet_detect)/darknet/cfg/coco.names"/>
    <arg name="camera_id" value="/"/>
    <arg name="image_src" value="/image_raw"/>
    <arg name="execution_time_file_name" value="$(env HOME)/GPU_profiling/210510_yolo_execution_time.csv"/>
    <arg name="response_time_file_name" value="$(env HOME)/GPU_profiling/210510_yolo_response_time.csv"/>
    <arg name="gpu_scheduling_flag" value="1" />
    <arg name="identical_deadline" value="0" />
  </include>

  <!-- imm_ukf_pda_track -->
  <!-- <include file="$(find imm_ukf_pda_track)/launch/imm_ukf_pda_track.launch">
    <arg name="namespace" default="/detection/object_tracker"/>
    <arg name="tracker_input_topic" default="/detection/lidar_detector/objects_center" />
    <arg name="tracker_output_topic" default="/detection/object_tracker/objects_center" />
    <arg name="tracking_frame" default="/world" />
    <arg name="gating_threshold" default="9.22" />
    <arg name="gate_probability" default="0.99" />
    <arg name="detection_probability" default="0.9" />
    <arg name="life_time_threshold" default="8" />
    <arg name="static_velocity_threshold" default="0.5" />
    <arg name="static_num_history_threshold" default="3" />
    <arg name="prevent_explosion_threshold" default="1000" />
    <arg name="merge_distance_threshold" default="0.5"/>
    <arg name="use_sukf" default="false" />
    <arg name="use_map_info" default="false" />
    <arg name="lane_direction_chi_threshold" default="2.71" />
    <arg name="nearest_lane_distance_threshold" default="1.0" />
    <arg name="vectormap_frame" default="/map" />
  </include> -->

  <!-- range_fusion -->
  <!-- <include file="$(find range_vision_fusion)/launch/range_vision_fusion.launch">
    <arg name="detected_objects_range" default="/detection/object_tracker/objects_center"/>
    <arg name="detected_objects_vision" default="/detection/image_detector/objects"/>
    <arg name="camera_info_src" default="/camera_info"/>
    <arg name="min_car_dimensions" default="[3,2,2]"/>
    <arg name="min_person_dimensions" default="[1,2,1]"/>
    <arg name="min_truck_dimensions" default="[4,2,2]"/>
    <arg name="sync_topics" default="true"/>
    <arg name="overlap_threshold" default="0"/>
    <arg name="use_vector_map" default="false"/>
    <arg name="namespace" default="/detection/fusion_tools"/>
  </include> -->

</launch>