<launch>
  <!-- Behavior selector specific parameters -->
  
  <arg name="evidence_tust_number"   default="25"/>

  <arg name="trafficLightFile" default="fake_traffic_light.yaml" />
  <arg name="stopLineFile" default="fake_stop_line.yaml" />
  <!-- <arg name="intersectionFile" default="crossing_test/crossing_intersection.yaml" /> -->
  
      
  <node pkg="op_local_planner" type="op_behavior_selector" name="op_behavior_selector" output="screen">
    <rosparam command="load" file="$(find rubis_pkg)/cfg/$(arg trafficLightFile)"/>
    <rosparam command="load" file="$(find rubis_pkg)/cfg/$(arg stopLineFile)"/>
    <!-- <rosparam command="load" file="$(find rubis_pkg)/cfg/$(arg intersectionFile)"/> -->
    
    <param name="evidence_tust_number"   value="$(arg evidence_tust_number)"/>        
  </node>       
      
</launch>
