<launch>
  <!--  Dynamic Pure Pursuit Param -->
  <rosparam command="load" file="$(env USER_HOME)/autoware.ai/autoware_files/lgsvl_file/parameter/lgsvl_pure_pursuit.yaml" />
  
  <!-- pure_pursuit  -->
  <include file="$(find pure_pursuit)/launch/pure_pursuit.launch">    
    <!-- Core Parameter -->
    <arg name="lookahead_ratio"               value="1.2"/>
    <arg name="minimum_lookahead_distance"    value="3.0"/>
    
    <arg name="const_velocity"                value="5.0"/>     
    <arg name="const_lookahead_distance"      value="4.0"/>
    <arg name="is_linear_interpolation"       value="True"/>
    <arg name="publishes_for_steering_robot"  value="True"/>
    <arg name="add_virtual_end_waypoints"     value="False"/>
  </include>

  <!-- twist_filter -->
  <include file="$(find twist_filter)/launch/twist_filter_params.launch">    
    <!-- For twist_filter -->
    <arg name="wheel_base" default="2.7" />
    <arg name="lateral_accel_limit" default="5.0" />
    <arg name="lateral_jerk_limit" default="5.0" />
    <arg name="lowpass_gain_linear_x" default="0.0" />
    <arg name="lowpass_gain_angular_z" default="0.0" />
    <arg name="lowpass_gain_steering_angle" default="0.0" />
    <arg name="max_stop_count" default="40" /> <!-- 10 = 1 second -->  
    <!-- For twist_gate -->
    <arg name="loop_rate" default="30.0" />
    <arg name="use_decision_maker" default="false" />
  </include>
</launch>