<launch>
  <!-- Town04 -->
  <arg name="init_x" value="258.4" />
  <arg name="init_y" value="206.5" />
  <arg name="init_z" value="0.0" />
  <arg name="init_roll" value="0.0" />
  <arg name="init_pitch" value="0.0" />
  <arg name="init_yaw" value="1.54" />

  <!-- points downsampler -->
  <include file="$(find points_downsampler)/launch/points_downsample.launch" />

  <!-- gicp_localizer -->
  <arg name="enable_gnss_backup" default="false" /> 
  <arg name="base_frame" default="base_link" doc="Vehicle reference frame" />
  <!-- <arg name="sensor_frame" default="velodyne" doc="Vehicle reference frame" /> -->
  <arg name="sensor_frame" default="ego_vehicle/lidar" doc="Vehicle reference frame" />
  <arg name="resolution" default="2.0" doc="The ND voxel grid resolution" />
  <arg name="neighborSearchMethod" default="DIRECT7"/>

  <arg name="numthreads" default="4" doc="vgicp threads num" />
  <arg name="leafsize" default="0.01" doc="point map downsample leafsize" />

  <node pkg="gicp_localizer" type="gicp_localizer_node" name="gicp_localizer_node">
    <param name="init_x" value="$(arg init_x)" />
    <param name="init_y" value="$(arg init_y)" />
    <param name="init_z" value="$(arg init_z)" />
    <param name="init_roll" value="$(arg init_roll)" />
    <param name="init_pitch" value="$(arg init_pitch)" />
    <param name="init_yaw" value="$(arg init_yaw)" />

    <param name="enable_gnss_backup" value="$(arg enable_gnss_backup)" />
    <param name="gnss_backup_threshold" value="7.0" />

    <param name="base_frame" value="$(arg base_frame)" />
    <param name="resolution" value="$(arg resolution)" />
    <param name="neighborSearchMethod" value="$(arg neighborSearchMethod)" />
    <param name="numthreads" value="$(arg numthreads)" />
    <param name="leafsize" value="$(arg leafsize)" />
  </node>

</launch>
