<!-- -->
<launch>
  <arg name="wheelbase" default="2.7" /> <!-- distance between front and back axle in meters -->
  <arg name="minimum_turning_radius" default="3" />
  <arg name="maximum_steering_angle" default="1.22" />
  <arg name='role_name' default='ego_vehicle'/>

  <param name="/vehicle_info/wheel_base" type="double" value="$(arg wheelbase)" />
  <param name="/vehicle_info/minimum_turning_radius" type="double" value="5" />
  <param name="/vehicle_info/maximum_steering_angle" type="double" value="1.22" />
  <param name="/role_name" type="string" value="$(arg role_name)" />


  <!--
    ##############################
    # ROS remapping + conversion #
    ##############################
  -->
  <!--
    # TF remapping #
  -->
  <include file="$(find carla_autoware_bridge)/launch/tf.launch">
    <arg name='role_name' value='$(arg role_name)'/>
  </include>

  <!--
    # LIDAR #
    remap carla lidar to autoware.
    @todo: to reduce load, Autoware should directly use the Carla-topic.
  -->
  <node pkg="topic_tools" type="relay" name="points_relay" args="/carla/$(arg role_name)/lidar /points_raw"/>

  <!-- 
    # CAMERA #
    remap carla front camera to autoware
    @todo: to reduce load, Autoware should directly use the Carla-topic.
  -->
  <node pkg="topic_tools" type="relay" name="imag_relay" args="/carla/$(arg role_name)/rgb_front/image /image_raw"/>

  <!-- 
    # GNSS #
    Extract the pose from the carla odometry. 
    Disable this if Autoware should calculate its pose from gnss (see my_localization.launch)
  -->
  <node pkg="carla_autoware_bridge" type="odometry_to_posestamped" name="odometry_to_posestamped"/>

  <!-- convert the vehicle status from carla to autoware -->
  <node pkg="carla_autoware_bridge" type="carla_to_autoware_vehicle_status" name="carla_to_autoware_vehicle_status"/>

  <!-- convert waypoint path to autoware lane_array -->
  <node pkg="carla_autoware_bridge" type="carla_to_autoware_waypoints" name="carla_to_autoware_waypoints"/>

  <!-- 
    # ACTUATOR #
    convert Autoware's vehicle_cmd to carla's vehicle_control_cmd
  -->

  <!-- convert twist to carla ackermann drive-->
  <node pkg="carla_autoware_bridge" type="vehiclecmd_to_ackermanndrive" name="vehiclecmd_to_ackermanndrive">
    <param name="wheelbase" value="$(arg wheelbase)"/> 
  </node>

  <!-- convert ackermann drive to carla vehicle cmd -->
  <include file="$(find carla_ackermann_control)/launch/carla_ackermann_control.launch">
    <arg name='role_name' value='$(arg role_name)'/>
  </include>

</launch>

