<launch>

  <!-- Topics -->
  <!-- <param name="/use_sim_time" value="true" /> -->

  <arg name="input_sensor_points_topic" default="/filtered_points" doc="Sensor points topic"/>
  <arg name="input_initial_pose_topic" default="/initialpose" doc="Initial position topic to align" />
  <arg name="input_map_points_topic" default="/points_map" doc="Map points topic" />
  <arg name="output_pose_topic" default="gicp_pose" doc="Estimated self position" />
  <arg name="output_pose_with_covariance_topic" default="gicp_pose_with_covariance" doc="Estimated self position with covariance" />
  <arg name="output_diagnostics_topic" default="diagnostics" doc="Diagnostic topic" />

  <!-- <include file="$(find gicp_localizer)/launch/static_tf.launch" /> -->
  <!-- <include file="$(find gicp_localizer)/launch/map_loader.launch" /> -->
  <!-- <include file="$(find gicp_localizer)/launch/points_downsample.launch" /> -->

  <include file="$(find points_downsampler)/launch/voxel_grid_filter_params.launch" />

  <!-- tf -->
  <arg name="base_frame" default="base_link" doc="Vehicle reference frame" />

  <arg name="resolution" default="2.0" doc="The ND voxel grid resolution" />
  <arg name="numthreads" default="4" doc="vgicp threads num" />
  <arg name="leafsize" default="0.05" doc="point map downsample leafsize" />

  <node pkg="gicp_localizer" type="gicp_localizer_node" name="gicp_localizer_node">
    <remap from="points_raw" to="$(arg input_sensor_points_topic)" />
    <remap from="pointcloud_map" to="$(arg input_map_points_topic)" />
    <remap from="gicp_pose" to="$(arg output_pose_topic)" />
    <remap from="diagnostics" to="$(arg output_diagnostics_topic)" />
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="resolution" value="$(arg resolution)" />
    <param name="numthreads" value="$(arg numthreads)" />
    <param name="leafsize" value="$(arg leafsize)" />
  </node>

</launch>
