<launch>
    <arg name="x_offset" default="29991.369" />
    <arg name="y_offset" default="1404.013" />
    <arg name="z_offset" default="-1463.76" />
    <node pkg="gnss_converter" type="position_pub" name="position_pub">
        <param name="x_offset" value="$(arg x_offset)"/>
        <param name="y_offset" value="$(arg y_offset)"/>
        <param name="z_offset" value="$(arg z_offset)"/>
    </node>
</launch>