<launch>
  <rosparam command="load" file="$(env USER_HOME)/rubis_ws/src/rubis_autorunner/cfg/cubetown_autorunner/cubetown_autorunner_params.yaml" />

  <!-- Map TF Publisher -->	
	<include file="$(env USER_HOME)/autoware.ai/autoware_files/data/tf/tf.launch" />
  
  <!-- Vector Map Loader -->
	<node pkg="map_file" type="vector_map_loader" name="vector_map_loader" args="
	    $(env USER_HOME)/autoware.ai/autoware_files/vector_map/cubetown_circle/dtlane.csv 
	    $(env USER_HOME)/autoware.ai/autoware_files/vector_map/cubetown_circle/idx.csv 
	    $(env USER_HOME)/autoware.ai/autoware_files/vector_map/cubetown_circle/lane.csv 
	    $(env USER_HOME)/autoware.ai/autoware_files/vector_map/cubetown_circle/node.csv 
	    $(env USER_HOME)/autoware.ai/autoware_files/vector_map/cubetown_circle/point.csv"/>

  <!-- Point Map Loader -->
	<include file="$(find map_file)/launch/points_map_loader.launch">
    <arg name="scene_num" value="noupdate" />
    <arg name="path_pcd" value="$(env USER_HOME)/autoware.ai/autoware_files/points_map/CubeTown.pcd"/>
  </include>

  <!-- Re-publishing simulator/camera_node/image/compressed topic to /image_raw as expected by Autoware -->
  <node name="republish" type="republish" pkg="image_transport" args="compressed in:=/simulator/camera_node/image raw out:=/image_raw"  />

  <arg name="instance_mode" default="0"/>

  <node pkg="rubis_pkg" type="lidar_republisher" name="lidar_republisher_FL">
    <param name="/input_topic" value="points_raw_FL" />
    <param name="/output_topic" value="points_raw_FL_repub" />
    <param name="/instance_mode" value="$(arg instance_mode)" />
  </node>

  <node pkg="rubis_pkg" type="lidar_republisher" name="lidar_republisher_FR">
    <param name="/input_topic" value="points_raw_FR" />
    <param name="/output_topic" value="points_raw_FR_repub" />
    <param name="/instance_mode" value="$(arg instance_mode)" />
  </node>

  <node pkg="rubis_pkg" type="lidar_republisher" name="lidar_republisher_B">
    <param name="/input_topic" value="points_raw_B" />
    <param name="/output_topic" value="points_raw_B_repub" />
    <param name="/instance_mode" value="$(arg instance_mode)" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="vel_to_velodyne_FR" args="0 0 0 0 0 0 velodyne_FR velodyne 10"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne_FL" args="3.3 1.0 0.3 0.785 0 0 base_link velodyne_FL 10"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne_FR" args="3.3 -1.0 0.3 -0.785 0 0 base_link velodyne_FR 10"/>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne_B" args="-1.0 0.0 0.3 3.14 0 0 base_link velodyne_B 10"/>
  
  <node pkg="tf" type="static_transform_publisher" name="lidar_to_camera" args="0.029 -0.574 -1.820 4.712 0.009 -1.883 velodyne camera 10" />

  <!-- gnss localizer -->
  <arg name="plane" default="0"/>
  <node pkg="rubis_pkg" type="gnss_localizer" name="gnss_localizer">
    <param name="plane" value="$(arg plane)"/>
  </node>

</launch>

