<launch>
    <!-- op_behavior_selector -->
  <include file="$(find op_local_planner)/launch/op_behavior_selector.launch">
    <arg name="evidence_tust_number"            default="25"/>
    <arg name="distanceToPedestrianThreshold"   default="25.0" />
    <arg name="sprintSpeed"                    default="13.5" />
    <arg name="obstacleWaitingTimeinIntersection"  default="2.0" />
    <arg name="turnThreshold"                   default="30.0" />
    <arg name="trafficLightFile"                default="crossing_test/crossing_traffic_light.yaml" />
    <arg name="stopLineFile"                    default="crossing_test/crossing_stop_line.yaml" />
    <!-- <arg name="intersectionFile"                default="crossing_test/crossing_intersection.yaml" /> -->
  </include>
</launch>
