<launch>
	<!-- static tf publisher between base_link and velodyne -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_gnss" args="0 0 0 0 0 0 gps base_link 10"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne" args="0 0 0 0 0 0 base_link velodyne 10"/>
  <node pkg="tf" type="static_transform_publisher" name="velodyne_to_velodyne_left" args="2.3 0.7 0.7 0 0 0 velodyne velodyne_left 10"/>
  <node pkg="tf" type="static_transform_publisher" name="velodyne_to_velodyne_right" args="2.3 -0.7 0.7 0 0 0 velodyne velodyne_right 10"/>
  <node pkg="tf" type="static_transform_publisher" name="velodyne_to_velodyne_back" args="-2.5 0.0 0.7 3.14 0 0 velodyne velodyne_back 10"/>

  <include file="$(find rubis_pkg)/launch/pcd_clipper.launch">
    <arg name="node_name" value="pcd_clipper_left"/>
    <arg name="enableLocalize" value="false"/>
    <arg name="input_topic" value="/points_raw_l_republished"/>
    <arg name="clipped_point_output_topic" value="/points_raw_left"/>
    <arg name="input_frame_id" value="velodyne_left" />
    <arg name="clipped_center_angle" value="315"/>
    <arg name="clipped_viewing_angle" value="210"/>
  </include>

  <include file="$(find rubis_pkg)/launch/pcd_clipper.launch">
    <arg name="node_name" value="pcd_clipper_right"/>
    <arg name="enableLocalize" value="true"/>
    <arg name="input_topic" value="/points_raw_r_republished"/>        
    <arg name="input_frame_id" value="velodyne_right" />
    <arg name="clipped_center_angle" value="90"/>
    <arg name="clipped_viewing_angle" value="120"/>    
    <arg name="clipped_point_output_topic" value="/points_raw_right"/>
    <arg name="localization_point_output_topic" value="/points_raw"/>
    <arg name="localization_center_angle" value="45"/>
    <arg name="localization_viewing_angle" value="210"/>
  </include>

    <include file="$(find rubis_pkg)/launch/pcd_clipper.launch">
    <arg name="node_name" value="pcd_clipper_back"/>
    <arg name="enableLocalize" value="true"/>
    <arg name="input_topic" value="/points_raw_b_republished"/>        
    <arg name="input_frame_id" value="velodyne_back" />
    <arg name="clipped_center_angle" value="0"/>
    <arg name="clipped_viewing_angle" value="180"/>    
    <arg name="clipped_point_output_topic" value="/points_raw_back"/>
    <arg name="localization_center_angle" value="45"/>
    <arg name="localization_viewing_angle" value="210"/>
  </include>

  <!-- ray_ground_filter LEFT-->
  <include file="$(find points_preprocessor)/launch/ray_ground_filter.launch">
    <arg name="label" value="left" />
    <arg name="input_point_topic" value="/points_raw_left" />  <!-- input_point_topic, ground filtering will be performed over the pointcloud in this topic. -->
    <arg name="base_frame" value="velodyne_left" />  <!-- Coordinate system to perform transform (default base_link) -->
    <arg name="max_clipping_height" value="5.0" />  <!-- Remove Points above this height value (default 2.0 meters) -->
    <arg name="min_clipping_height" value="-0.5" />  <!-- Remove Points below this height value (default -0.5 meters) -->
    <arg name="min_point_distance" value="2.9" />  <!-- Removes Points closer than this distance from the sensor origin (default 1.85 meters) -->
    <arg name="radial_divider_angle" value="0.08" />  <!-- Angle of each Radial division on the XY Plane (default 0.08 degrees)-->
    <arg name="concentric_divider_distance" value="0.71" />  <!-- Distance of each concentric division on the XY Plane (default 0.0 meters) -->
    <arg name="local_max_slope" value="3" />  <!-- Max Slope of the ground between Points (default 8 degrees) -->
    <arg name="general_max_slope" value="9" />  <!-- Max Slope of the ground in the entire PointCloud, used when reclassification occurs (default 5 degrees)-->
    <arg name="min_height_threshold" value="0.4" />  <!-- Minimum height threshold between points (default 0.05 meters)-->
    <arg name="reclass_distance_threshold" value="0.01" />  <!-- Distance between points at which re classification will occur (default 0.2 meters)-->
  </include>

    <!-- ray_ground_filter RIGHT-->
  <include file="$(find points_preprocessor)/launch/ray_ground_filter.launch">
    <arg name="label" value="right" />
    <arg name="input_point_topic" value="/points_raw_right" />  <!-- input_point_topic, ground filtering will be performed over the pointcloud in this topic. -->
    <arg name="base_frame" value="velodyne_right" />  <!-- Coordinate system to perform transform (default base_link) -->
    <arg name="max_clipping_height" value="5.0" />  <!-- Remove Points above this height value (default 2.0 meters) -->
    <arg name="min_clipping_height" value="-0.5" />  <!-- Remove Points below this height value (default -0.5 meters) -->
    <arg name="min_point_distance" value="2.9" />  <!-- Removes Points closer than this distance from the sensor origin (default 1.85 meters) -->
    <arg name="radial_divider_angle" value="0.08" />  <!-- Angle of each Radial division on the XY Plane (default 0.08 degrees)-->
    <arg name="concentric_divider_distance" value="0.71" />  <!-- Distance of each concentric division on the XY Plane (default 0.0 meters) -->
    <arg name="local_max_slope" value="3" />  <!-- Max Slope of the ground between Points (default 8 degrees) -->
    <arg name="general_max_slope" value="9" />  <!-- Max Slope of the ground in the entire PointCloud, used when reclassification occurs (default 5 degrees)-->
    <arg name="min_height_threshold" value="0.4" />  <!-- Minimum height threshold between points (default 0.05 meters)-->
    <arg name="reclass_distance_threshold" value="0.01" />  <!-- Distance between points at which re classification will occur (default 0.2 meters)-->
  </include>

  <!-- ray_ground_filter BACK-->
  <include file="$(find points_preprocessor)/launch/ray_ground_filter.launch">
    <arg name="label" value="back" />
    <arg name="input_point_topic" value="/points_raw_back" />  <!-- input_point_topic, ground filtering will be performed over the pointcloud in this topic. -->
    <arg name="base_frame" value="velodyne_back" />  <!-- Coordinate system to perform transform (default base_link) -->
    <arg name="max_clipping_height" value="5.0" />  <!-- Remove Points above this height value (default 2.0 meters) -->
    <arg name="min_clipping_height" value="-0.5" />  <!-- Remove Points below this height value (default -0.5 meters) -->
    <arg name="min_point_distance" value="2.9" />  <!-- Removes Points closer than this distance from the sensor origin (default 1.85 meters) -->
    <arg name="radial_divider_angle" value="0.08" />  <!-- Angle of each Radial division on the XY Plane (default 0.08 degrees)-->
    <arg name="concentric_divider_distance" value="0.71" />  <!-- Distance of each concentric division on the XY Plane (default 0.0 meters) -->
    <arg name="local_max_slope" value="3" />  <!-- Max Slope of the ground between Points (default 8 degrees) -->
    <arg name="general_max_slope" value="9" />  <!-- Max Slope of the ground in the entire PointCloud, used when reclassification occurs (default 5 degrees)-->
    <arg name="min_height_threshold" value="0.4" />  <!-- Minimum height threshold between points (default 0.05 meters)-->
    <arg name="reclass_distance_threshold" value="0.01" />  <!-- Distance between points at which re classification will occur (default 0.2 meters)-->
  </include>


  <!-- points downsampler -->
  <include file="$(find points_downsampler)/launch/points_downsample.launch" />
			
</launch>
