<launch>
  <!-- nmea2tfpose -->
  <include file="$(find rubis_pkg)/launch/gnss_localizer.launch">
    <arg name="plane" value="0" />
  </include>

  <!-- vel/pose connect -->
  <arg name="topic_twist_stamped" default="/gnss_vel" />
  <arg name="topic_pose_stamped" default="/gnss_pose" />

  <!-- vel_pose_mux -->
  <include file="$(find autoware_connector)/launch/vel_pose_connect.launch">
    <arg name="topic_pose_stamped" value="$(arg topic_pose_stamped)" />
    <arg name="topic_twist_stamped" value="$(arg topic_twist_stamped)" />
  </include>
</launch>
