<launch>
    <arg name="x_offset" default="0.0" />
    <arg name="y_offset" default="0.0" />
    <arg name="z_offset" default="-1465.71" />
    <arg name="yaw_offset" default="0.0" />    
    <arg name="use_gnss_tf" default="false" />
    <arg name="use_sync" default="false" />
    <arg name="use_kalman_filter" default="false" />
    <arg name="kalman_filter_params" default="$(find gnss_module)/cfg/kalman_filter.yaml" />
    <arg name="transformation_params" default="$(env USER_HOME)/autoware.ai/autoware_files/transformation/2022-11-04_FMTC.yaml" />
    <arg name="debug" default="false" />
    <arg name="pose_topic_name" default="/gnss_pose" />

    <!-- 138ground offset -->
    <!-- <arg name="x_offset" default="10011.0" />
    <arg name="y_offset" default="12403.0" /> -->


    <rosparam command="load" file="$(arg kalman_filter_params)" />
    <rosparam command="load" file="$(arg transformation_params)" />

    <node pkg="gnss_module" type="gnss_module" name="gnss_module">
        <param name="pose_topic_name" value="$(arg pose_topic_name)"/>
        <param name="x_offset" value="$(arg x_offset)"/>
        <param name="y_offset" value="$(arg y_offset)"/>
        <param name="z_offset" value="$(arg z_offset)"/>
        <param name="yaw_offset" value="$(arg yaw_offset)"/>
        <param name="debug" value="$(arg debug)"/>
        <param name="use_kalman_filter" value="$(arg use_kalman_filter)"/>
        <param name="use_gnss_tf" value="$(arg use_gnss_tf)"/>
        <param name="use_sync" value="$(arg use_sync)" /> <!-- When use_sync is false, use gps data only -->
    </node>
</launch>